body {
	font-family: Arial;
	width: 100%;
	text-align: center;
	padding-top:20px;
	background-color: lightgrey;
}

.main {
	background-color: white;
	width: 50%;
	margin:auto;
	padding:20px 20px 40px 20px;
	border:1px solid grey;
}

.header img {
	width: 100%;
	margin:auto;
}

h1 {
	color:white;
	font-size: 25px;
	background-color: orange;
	padding:20px;
}

h2 {
	color:orange;
	font-size: 20px;
}

.clear {
	border-bottom: 1px solid lightgrey;
	padding:15px 0 15px 0;
}

li {
	list-style: none;
	display: inline;
}

.armas {
	margin:0 30px 0 0;
}

input {
	padding:5px 10px;
	background-color: orange;
	border:2px solid white;
}

.icono {
	width: 35px;
	height: 35px;
	vertical-align: middle;
	margin-right: 5px;
}

.personajes {
	width: 50px;
	height: 55px;
	vertical-align: middle;
	margin-right: 5px;
}